body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  margin: auto;
  overflow: hidden;
}

header {
  background: #000000;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

nav {
  float: right;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 0 20px 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

/* Estilo para a imagem */
img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}